body {
    font-family: 'Roboto', sans-serif;
    background-color: #FFFFFF;
    font-weight: 400;
    font-size: 16px;
    font-style: normal;
    color: #434455;
}

a {
    text-decoration: none;
    color: currentColor;
}

button {
    font-family: inherit;
    color: currentColor;
    cursor: pointer;
}

.logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4D5AE5;
}

.header {
}

.header-logo {
    color: #2E2F42;
}

.header-menu {
}

.header-menu-item {
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2E2F42;

}

.header-menu-item:hover,
.header-menu-item:focus {
    color: #404BBF;
}

.header-menu-item:active {
    text-decoration: underline #404BBF;
}

.address {
    font-style: normal;
}

.address-item {
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.address-item:hover,
.address-item:focus {
    color: #404BBF;
}

.studio {
    background: #2E2F42;
}

.studio-title {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: #FFFFFF;
}

.btn {
    background: #4D5AE5;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #FFFFFF;
}

.btn:hover,
.btn:focus {
    background: #404BBF;
}

.advantages {
}

.advantages-list {
}

.advantages-item {
}

.advantages-caption {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42
}

.advantages-desc {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.team {
    background: #F4F4FD;
}

.team-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    color: #2E2F42;
    text-transform: capitalize;
}

.team-list {
}

.team-item {
    background: #FFFFFF;
}

.team-caption {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.02em;
    color: #2E2F42;
}

.team-desc {
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.02em;
    color: #434455;
}

.portfolio {
}

.portfolio-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    color: #2E2F42;
    text-transform: capitalize;
}

.portfolio-list {
}

.portfolio-item {
}

.portfolio-caption {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42;
}

.portfolio-desc {
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.footer {
    background: #2E2F42;
}

.footer-logo {
    color: #F4F4FD;
}

.footer-desc {
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #F4F4FD;
}